<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  </head>
  <body>
    <div class="board">
      <form id="todo-form">
        <input type="text" placeholder="New card..." id="todo-input" />
        <button type="submit">New Card</button>
      </form>

      <div class="lanes">
        <div class="swim-lane" id="todo-lane">
          <h3 class="heading">New</h3>

          <p class="task" draggable="true">Task Z</p>
          <p class="task" draggable="true">Task C</p>
          <p class="task" draggable="true">Task F</p>
        </div>

        <div class="swim-lane">
          <h3 class="heading">In Progress</h3>

          <p class="task" draggable="true">Task A</p>
        </div>

        <div class="swim-lane">
          <h3 class="heading">Testing</h3>

          <p class="task" draggable="true">
            Task X
          </p>
        </div>
        <div class="swim-lane">
          <h3 class="heading">Done</h3>

          <p class="task" draggable="true">
            Task B
          </p>
        </div>
      </div>
    </div>
  </body>
</html>