<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in!</title>
    <link rel="stylesheet" href="../static/registration_page_style.css"/>
</head>
<body>
    <div class="container">
        <h1>Sign in!</h1>
        <p>Please fill the form to sign in.</p>
        <form action="/login" method="POST">
            <label for="login"><b>Login</b></label>
            <input type="text" placeholder="Enter Login" name="login" id="login" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" value="FakePSW" id="psw" placeholder="Enter Password" name="psw" required>

            <div class="register-btn">
                <button type="submit" class="signup">Sign in</button>
                <button><a href="{{ url_for('index') }}">Back</a></button>
            </div>
        </form>
    </div>
</body>
</html>
